{% extends 'catalog/base.html' %}

{% block content %}
    <h2 style="text-align: center;">Статьи</h2>
    <style>
        .button-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }
    </style>
    <div class="container">
        <div class="button-row mb-5">
            <div>
                <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Добавить статью</a>
            </div>
            <div>
                <a class="btn btn-outline-primary" href="{% url 'catalog:list' %}">Вернуться на главную</a>
            </div>
        </div>
        <div class="row">
            {% for object in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="card-text">
                                {{ object|title }}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'blog:view' object.pk %}"
                                       class="btn btn-sm btn-outline-secondary">Просмотр</a>
                                    {% if perms.blog.change_blog %}
                                        <a href="{% url 'blog:edit' object.pk %}" type="button"
                                           class="btn btn-sm btn-outline-secondary">Редактировать</a>
                                    {% endif %}
                                    {% if perms.blog.delete_blog %}
                                        <a href="{% url 'blog:delete' object.pk %}" type="button"
                                           class="btn btn-sm btn-outline-danger">Удалить</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
