{% extends 'catalog/base.html' %}

{% block content %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Товары</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:products' %}">Каталог</a>
    </nav>
</div>

<div class="card">
    {% for product in object_list %}
        <div class="product-card">
            <h2>{{ product.name }}</h2>
            <img src="/media/{{ product.preview }}" alt="{{ product.name }}" class="product-image">
            <p>{{ product.description }}</p>
            <p>Цена {{ product.price }} рублей</p>
            <div class="product-details">
                <div class="product-detail">
                    <span class="product-detail-label">Дата создания:</span>
                    <span class="product-detail-value">{{ product.date_of_creation }}</span>
                </div>
                <div class="product-detail">
                    <span class="product-detail-label">Дата изменения:</span>
                    <span class="product-detail-value">{{ product.last_modified_date }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}