{% extends 'catalog/base.html' %}

{% block content %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:list' %}">Вернуться на главную</a>
    </nav>
</div>

<style>
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .product-card {
      width: calc(33.33% - 20px);
      margin: 10px;
      text-align: center;
    }

    .product-image {
      max-width: 100%;
      height: auto;
    }

    .product-details {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .product-detail {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .product-detail-label {
      font-weight: bold;
      margin-bottom: 5px;
    }
</style>

<div class="card">
    <div class="product-card">
        <h2>{{ product.name }}</h2>
        <img src="/media/{{ product.preview }}" alt="{{ product.name }}" class="product-image">
        <p>{{ product.description }}</p>
        <p><b>Цена {{ product.price }} рублей</b></p>
        <div class="product-details">
            <div class="product-detail">
                <span class="product-detail-label">Дата создания:</span>
                <span class="product-detail-value">{{ product.date_of_creation }}</span>
            </div>
            <div class="product-detail">
                <span class="product-detail-label">Дата изменения:</span>
                <span class="product-detail-value">{{ product.last_modified_date }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}